body {
  background: babypink;
  font-family: Arial;
}

.box {
  width: 300px;
  margin: 100px auto;
  background: pink;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

select, button {
  padding: 8px;
  margin-top: 10px;
  width: 100%;
  color: blue;
}
